@{
	var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "GridView";
        settings.CallbackRouteValues = new { Controller = "Home", Action = "GridViewPartial" };

				settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Home", Action = "GridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Home", Action = "GridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Home", Action = "GridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

		settings.CommandColumn.Visible = true;
        if (User.IsInRole("admin"))
        {
            settings.CommandColumn.ShowNewButtonInHeader = true;
            settings.CommandColumn.ShowDeleteButton = true;
            settings.CommandColumn.ShowEditButton = true;
        }
        else
        {
            settings.CommandColumn.ShowNewButtonInHeader = false;
            settings.CommandColumn.ShowDeleteButton = false;
            settings.CommandColumn.ShowEditButton = false;
        }
        settings.SettingsDetail.ShowDetailButtons = true;
        settings.SettingsDetail.ShowDetailRow = true;

        settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.NextColumn;

		settings.KeyFieldName = "EmployeeId";

		settings.SettingsPager.Visible = true;
		settings.Settings.ShowGroupPanel = true;
		settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowFilterRowMenu = true;
        settings.SettingsBehavior.AllowFocusedRow = true;

        

        //settings.Columns.Add(
        //    column =>
        //    {
        //        column.Caption = "Photo";
        //        column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        //        column.SetDataItemTemplateContent(c =>
        //        {
        //            string url = (string)DataBinder.Eval(c.DataItem, "Photo");
        //            ViewContext.Writer.Write(
        //                !string.IsNullOrEmpty(url) ? "<img src=\"" + Url.Content(url) + "\" style=\"max-height: 100px; max-width: 100px;\"/>"
        //                : "<center>Click Edit to load a New Avatar</center>");
        //        });
        //    }
        //    );
        
        // --- COLUMNS DEFINITIONS ---
		settings.Columns.Add("FirstName");
		settings.Columns.Add("LastName");
        settings.Columns.Add(c =>
        {
            c.FieldName = "Gender";
            c.Name = "Gender";
            c.Width = 60;
            c.ColumnType = MVCxGridViewColumnType.ComboBox;
            var comboBoxProperties = c.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = new List<string> { "M", "F" };
            comboBoxProperties.ValueType = typeof(string);
            comboBoxProperties.DropDownStyle = DropDownStyle.DropDown;
        });
                //settings.Columns.Add(c =>
                //{
                //    c.Name = "Gender";
                //    c.FieldName = "Gender";
                //    c.Caption = "Gender";
                //    c.ColumnType = MVCxGridViewColumnType.ComboBox;
                //    var comboBoxProperties = c.PropertiesEdit as ComboBoxProperties;
                //    //comboBoxProperties.DataSource = EmployeesMVC.Models.EmployeesDataProvider.GetGenders();
                //    comboBoxProperties.ValueField = "Gender";
                //    comboBoxProperties.ValueType = typeof(string);
                //}
                //);

		settings.Columns.Add("DateOfBirth", MVCxGridViewColumnType.DateEdit).PropertiesEdit.DisplayFormatString = "d";
        settings.Columns.Add("HireDate", MVCxGridViewColumnType.DateEdit).PropertiesEdit.DisplayFormatString = "d";
        settings.Columns.Add(c => {
            c.Name = "Position";
            c.FieldName = "Position";
            c.Width = 155;
        });
		settings.Columns.Add("Salary").PropertiesEdit.DisplayFormatString = "c";

        settings.Columns.Add(c =>
        {
            c.Name = "DepartmentId";
            c.FieldName = c.Name;
            c.Caption = "Department";
            c.ColumnType = MVCxGridViewColumnType.ComboBox;
            c.Width = 135;
            var comboBoxProperties = c.PropertiesEdit as ComboBoxProperties;

            comboBoxProperties.DataSource = EmployeesMVC.Models.EmployeesDataProvider.GetDepartments();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.ValueField = "DepartmentId";
            comboBoxProperties.ValueType = typeof(int);
            comboBoxProperties.DropDownStyle = DropDownStyle.DropDown;
            
        }
        );

        // --- DETAILS TEMPLATE ---
        settings.SetDetailRowTemplateContent(c =>
        {
            string defaultUrl = Url.Content("~/Content/ProfileImages/no_image.jpg");
            string url = (string)DataBinder.Eval(c.DataItem, "Photo");
            ViewContext.Writer.Write(
                !string.IsNullOrEmpty(url) ? "<div style=\"float:left; border:2px solid; border-color:orange\"><img src=\"" + Url.Content(url) + "\" style=\"max-height: 250px; max-width: 250px;\"/></div>"
                : "<div style=\"float:left; border:2px solid; border-color:orang\"><img src=\"" + defaultUrl + "\" style=\"max-height: 250px; max-width: 250px;\"/></div>");
            ViewContext.Writer.Write("<div style=\"margin-left: 10px; display: inline-block;\"></b></br>Contact phone: <b>" +
                DataBinder.Eval(c.DataItem, "Phone") + "</b></br>Address: <b>" +
                DataBinder.Eval(c.DataItem, "Address") + "</b></br>Notes: " +
                DataBinder.Eval(c.DataItem, "Notes") + "</div>");
        }); 
        
        // --- EDIT TEMPLATE ---
        settings.SetEditFormTemplateContent(
            c => {
                var employee = c.DataItem;
                Session["EmployeeId"] = DataBinder.Eval(employee, "EmployeeId") != null ? DataBinder.Eval(employee, "EmployeeId") : Model.Count + 1;
                
                // -- label and textbox for First Name ---
                ViewContext.Writer.Write(
                    "<div class=\"edit_form\">" +
                    "<div style=\"float:left\"><div class=\"line\">");
                Html.DevExpress().Label(
                    edtSettings => {
                        edtSettings.Text = "First Name:";
                        edtSettings.AssociatedControlName = "FirstName";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().TextBox(
                        edtSettings =>
                        {
                            edtSettings.Name = "FirstName";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                        }
                    ).Bind(DataBinder.Eval(employee, "FirstName")).Render();
                ViewContext.Writer.Write(
                    "</div>" +
                    "<div class=\"line\">"
                );

                // -- label and textbox for Last Name ---
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Last Name:";
                        edtSettings.AssociatedControlName = "LastName";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().TextBox(
                        edtSettings =>
                        {
                            edtSettings.Name = "LastName";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                        }
                    ).Bind(DataBinder.Eval(employee, "LastName")).Render();
                ViewContext.Writer.Write(
                    "</div>" +
                    "<div class=\"line\">"
                );

                // -- label and date editor for Gender ---
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Gender:";
                        edtSettings.AssociatedControlName = "Gender";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().ComboBox(
                        edtSettings =>
                        {
                            edtSettings.Name = "Gender";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.Properties.ValueType = typeof(string);
                            edtSettings.ShowModelErrors = true;
                        }
                    ).BindList(new List<string> { "M", "F" })
                    .Bind(DataBinder.Eval(employee, "Gender")).Render();
                ViewContext.Writer.Write(
                    "</div>" +
                    "<div class=\"line\">"
                );

                // -- label and date editor for Date Of Birth ---
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Date Of Birth:";
                        edtSettings.AssociatedControlName = "DateOfBirth";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().DateEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "DateOfBirth";
                            edtSettings.Properties.EditFormat = EditFormat.Custom;
                            edtSettings.Properties.EditFormatString = "dd/MM/yyyy";
                            edtSettings.ControlStyle.CssClass = "editor";
                        }
                    ).Bind(DataBinder.Eval(employee, "DateOfBirth")).Render();
                ViewContext.Writer.Write(
                    "</div>" +
                    "<div class=\"line\">"
                );

                // -- label and date editor for Hire Date ---
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Hire Date:";
                        edtSettings.AssociatedControlName = "HireDate";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().DateEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "HireDate";
                            edtSettings.Properties.EditFormat = EditFormat.Custom;
                            edtSettings.Properties.EditFormatString = "dd/MM/yyyy";
                            edtSettings.ControlStyle.CssClass = "editor";
                        }
                    ).Bind(DataBinder.Eval(employee, "HireDate")).Render();
                ViewContext.Writer.Write(
                    "</div>" +
                    "<div class=\"line\">"
                );

                // -- label and textbox for Phone ---
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Phone:";
                        edtSettings.AssociatedControlName = "Phone";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().TextBox(
                        edtSettings =>
                        {
                            edtSettings.Name = "Phone";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                        }
                    ).Bind(DataBinder.Eval(employee, "Phone")).Render();
                ViewContext.Writer.Write(
                    "</div></div>" +
                    "<div style=\"display:inline-block; margin-left:5px;\"><div class=\"line\">"
                );

                // -- label and textbox for Address ---
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Address:";
                        edtSettings.AssociatedControlName = "Address";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().TextBox(
                        edtSettings =>
                        {
                            edtSettings.Name = "Address";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                        }
                    ).Bind(DataBinder.Eval(employee, "Address")).Render();
                ViewContext.Writer.Write(
                    "</div>" +
                    "<div class=\"line\">"
                );

                // -- label and textbox for Position ---
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Position:";
                        edtSettings.AssociatedControlName = "Position";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().TextBox(
                        edtSettings =>
                        {
                            edtSettings.Name = "Position";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                        }
                    ).Bind(DataBinder.Eval(employee, "Position")).Render();
                ViewContext.Writer.Write(
                    "</div>" +
                    "<div class=\"line\">"
                );

                // -- label and textbox for Salary ---
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Salary:";
                        edtSettings.AssociatedControlName = "Salary";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "Salary";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.ShowModelErrors = true;
                        }
                    ).Bind(DataBinder.Eval(employee, "Salary")).Render();
                ViewContext.Writer.Write(
                    "</div>" +
                    "<div class=\"line\">"
                );

                // -- label and combobox for Department ---
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Department:";
                        edtSettings.AssociatedControlName = "DepartmentId";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().ComboBox(
                        edtSettings =>
                        {
                            edtSettings.Name = "DepartmentId";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.Properties.TextField = "Name";
                            edtSettings.Properties.ValueField = "DepartmentId";
                            edtSettings.Properties.ValueType = typeof(int);
                            edtSettings.ShowModelErrors = true;
                        }
                    ).BindList(EmployeesMVC.Models.EmployeesDataProvider.GetDepartments())
                    .Bind(DataBinder.Eval(employee, "DepartmentId")).Render();
                ViewContext.Writer.Write(
                    "</div>"
                );

                ViewContext.Writer.Write(
                    "<div style=\"margin: 5px; display:inline-block;\">"
                    );
                Html.DevExpress().Button(
                        btnSettings =>
                        {
                            btnSettings.Name = "btnUpdate";
                            btnSettings.ControlStyle.CssClass = "button";
                            btnSettings.Text = "Update";
                            btnSettings.ClientSideEvents.Click = "function(s, e){ GridView.UpdateEdit(); }";
                        }
                    )
                    .Render();
                ViewContext.Writer.Write(
                    "</div><div style=\"margin: 5px; display:inline-block;\">"
                    );
                Html.DevExpress().Button(
                    btnSettings =>
                    {
                        btnSettings.Name = "btnCancel";
                        btnSettings.ControlStyle.CssClass = "button";
                        btnSettings.Text = "Cancel";
                        btnSettings.ClientSideEvents.Click = "function(s, e){ GridView.CancelEdit(); }";
                    }
                )
                .Render();
                ViewContext.Writer.Write(
                    "</div></div><div style=\"display:inline-block;margin-left:30px;vertical-align:top\">"
                    );

                string path = (string)DataBinder.Eval(employee, "Photo");
                if (String.IsNullOrEmpty(path)) path = "~\\Content\\ProfileImages\\no_image.jpg"; 
                
                ViewContext.Writer.Write("<div style=\"vertical-align:top;\"><img id=\"imagePreview\" style=\"max-height:150px;max-width:150px;\" src=\"" + 
                   Url.Content(path) + "\"></div>");
                

                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Profile picture: ";
                        edtSettings.ControlStyle.CssClass = "label";
                    }
                ).Render();

                ViewContext.Writer.Write("</br>");
                using (Html.BeginForm("ImageUpload", "Home", FormMethod.Post))
                {
                    Html.DevExpress().UploadControl(
                        ucSettings =>
                        {
                            ucSettings.Name = "uploadControl";
                            ucSettings.ShowUploadButton = true;
                            ucSettings.AddUploadButtonsSpacing = 5;
                            ucSettings.Width = 210;
                            ucSettings.AddUploadButtonsHorizontalPosition = AddUploadButtonsHorizontalPosition.Center;
                            ucSettings.CallbackRouteValues = new { Controller = "Home", Action = "ImageUpload" };
                            ucSettings.ValidationSettings.Assign(EmployeesMVC.Controllers.UploadControlHelper.ValidationSettings);
                            ucSettings.ClientSideEvents.FileUploadComplete = 
                                "function(s, e) { if(e.isValid) { photo.SetValue(e.callbackData); } }";
                        }
                    ).Render();
                }
                Html.DevExpress().TextBox(
                    edtSettings =>
                    {
                        edtSettings.Name = "photo";
                        edtSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        edtSettings.ClientVisible = false;
                    }
                )
                .Bind(DataBinder.Eval(employee, "Photo"))
                .Render();
                
                ViewContext.Writer.Write("</div>");
                ViewContext.Writer.Write("<div style=\"display:inline-block;margin-left:5px;vertical-align:top\">");
                
                // -- label and textbox for Notes ---
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.Text = "Notes:";
                        edtSettings.AssociatedControlName = "Notes";
                        edtSettings.ControlStyle.CssClass = "label";
                    }).Render();
                Html.DevExpress().Memo(
                        edtSettings =>
                        {
                            edtSettings.Name = "Notes";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.Height = System.Web.UI.WebControls.Unit.Pixel(130);
                            edtSettings.Width = 220;
                            edtSettings.ShowModelErrors = true;
                        }
                    ).Bind(DataBinder.Eval(employee, "Notes")).Render();

                ViewContext.Writer.Write("</div></div>");
            });
        
	    });
        
		if (ViewData["EditError"] != null){
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()