﻿@{
    ViewBag.Title = "About";
}
<div class="text-center">
    <h1 class="subheader">About</h1>
</div>
<hr />
<div class="text-center">
    <h2 class="subheader">Test project "Employees"</h2>
    <h3 class="subheader">Used: ASP.NET MVC5 + EF6 + DevExpress GridView + Zurb Foundation 5</h3>
</div>
