﻿@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="subheader">Employees Catalogue</h1>
</div>

@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="large-1 columns"></div>
        <div class="large-10 columns">
            @Html.Action("GridViewPartial")
        </div>
        <div class="large-1 columns"></div>
    </div>
}
else
{
    <div class="row">
        <div class="text-center"><h3 class="subheader">You have to login firstly to make something</h3></div>
    </div>
}