﻿@using Microsoft.AspNet.Identity
@model EmployeesMVC.Models.ManageUserViewModel

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword)
        <div>
            @Html.PasswordFor(m => m.OldPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        <div>
            @Html.PasswordFor(m => m.NewPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Change password" class="button radius small"  />
        </div>
    </div>
}
