﻿@model EmployeesMVC.Models.ManageUserViewModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Create Local Login</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        <div>
            @Html.PasswordFor(m => m.NewPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Set password" class="button radius small" />
        </div>
    </div>
}
