﻿@using EmployeesMVC.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<div class="text-center">
    <h2 class="subheader">@ViewBag.Title</h2>
</div>

<div class="text-center">
    <h4 class="subheader">@ViewBag.StatusMessage</h4>
</div>
<div class="row">
    <div class="small-4 large-centered columns">
        <div class="text-center">
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }
        </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
