﻿@model EmployeesMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="text-center">
    <h2 class="subheader">@ViewBag.Title</h2>
</div>

    <div class="row">
        <div class="small-4 large-centered columns">
            <div class="text-center">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 class="subheader">Create a new account</h4>
                    <hr />
                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="button radius small" value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
